ul { 
  list-style-type: none; 
  margin: 1em; 
  padding: 0; 
  margin-bottom: 10px;
  overflow: scroll; 
}

li { 
  margin: 5px; 
  text-align: center; 
  width: auto; 
}

.center {
  text-align: center;
}

.ui-state-default:active {
  border: 1px solid #132b14 ;
  color:#132b14 ;
}
