<!DOCTYPE html>
<html>

<head>
  <meta name="viewport" content="width=device-width">
  <link rel="stylesheet" src="//normalize-css.googlecode.com/svn/trunk/normalize.css"/>
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
  <link rel="stylesheet" href="css/main.css">
  <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.min.css">
  <script src="//code.jquery.com/jquery-1.11.2.min.js"></script>
  <script src="//code.jquery.com/ui/1.11.4/jquery-ui.min.js"></script>
  <script src="public/touch-punch.min.js"></script>
  <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
  <script type="text/javascript">
    <!--
      if (screen.width > 1024) {
        window.location = "http://www.candyspace.com";
      }
    //--> 
  </script>
  <title>PostBrowser</title>  
</head>

<body>

  <navbar class="navbar">
      <h1 class="center">Post Browser</h1>
  </navbar>

  <div class="container">
    <ul id="data-output"></ul>
  </div>

  <script type="text/javascript" src="../public/papaparse.js"></script>
  <script type="text/javascript" src="js/csvParser.js"></script>
  <script type="text/javascript" src="js/draggable.js"></script>

</body>
</html>