<!DOCTYPE html>
<html>

<head>
  <meta name="viewport" content="width=device-width">
  <link rel="stylesheet" src="//normalize-css.googlecode.com/svn/trunk/normalize.css"/>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
  <link rel="stylesheet" href="css/main.css">
  <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
  <script src="https://code.jquery.com/jquery-1.11.2.js"></script>
  <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
  <title>PostBrowser</title>  
</head>

<body>

  <navbar class="navbar">
      <h1 class="center">Post Browser</h1>
  </navbar>

  <ul id="data-output"></ul>

  <script type="text/javascript" src="../public/papaparse.js"></script>
  <script type="text/javascript" src="js/csvParser.js"></script>
  <script type="text/javascript" src="js/draggable.js"></script>

</body>
</html>